// EditQuestion.scss

.edit-question-container {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;

  .edit-question {
    display: flex;
    flex-direction: column;
  }

  .question-label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .question-input {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    &:focus {
      // border-color: #4caf50;
      outline: none;
    }
  }

  .answers-section {
    margin-bottom: 16px;

    .answers-header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .answer-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .answer-input {
        width: 70%;
        margin-right: 8px;
        padding: 8px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid #ccc;

        &:focus {
          // border-color: #4caf50;
          outline: none;
        }
      }

      .delete-answer-btn {
        padding: 4px 12px;
        font-size: 12px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }

    .add-answer-btn {
      display: flex;
      align-items: center;
      margin-top: 8px;
      padding: 8px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }

      svg {
        margin-right: 8px;
      }
    }
  }

  .correct-answer-label {
    margin-top: 8px;
    font-size: 16px;
  }

  .correct-answer-select {
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    // border-radius: 4px;
    // border: 1px solid #ccc;

    &:focus {
      border-color: #4caf50;
      outline: none;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;

    .save-btn {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #45a049;
      }
    }

    .cancel-btn {
      background-color: #f44336;
      color: white;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}
