.player-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center; // Căn giữa nội dung
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px; // Giới hạn chiều rộng của nội dung
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }

  .input-field {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .join-button {
    margin-bottom: 10px;
    background-color: #1890ff;
    border: none;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  .feedback-text {
    margin-top: 10px;
    font-size: 14px;
    color: red;
  }

  .qr-upload-container {
    margin-top: 20px;
    width: 100%;
    .ant-upload-dragger {
      background-color: #fff;
      border: 2px dashed #1890ff;
      border-radius: 8px;
      padding: 20px;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: #0056b3;
      }

      .ant-upload-drag-icon {
        font-size: 40px;
        color: #1890ff;
      }

      p {
        font-size: 14px;
        color: #555;
        margin-top: 10px;
      }
    }
  }

  .players-list {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #333;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      .player-item {
        padding: 8px 10px;
        font-size: 16px;
        color: #555;
        border-bottom: 1px solid #f0f0f0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
